<section
  class='text-md md:text-lg [&>p]:mb-4 max-w-[900px] text-pretty text-gray-100'
>
  <p>
    Mi nombre es <span class='text-sky-400'>Juan Pablo Costa</span>, tengo 20
    años, y actualmente estoy en
    <em class='text-yellow-400'>Tercer año de Ingeniería en Sistemas</em>
    en la UTN FRM.
  </p>
  <p>
    Mi camino empezó a los 10 años haciendo servidores de Minecraft, subí un
    video a Youtube de un servidor para descargar gratis que tuvo
    <strong><span class='text-red-400'>15000 visitas,</span></strong>
    en los comentarios había gente agradecida y gente ofreciendome
    <strong
      ><span class='text-blue-400'>trabajar para sus servidores.</span></strong
    >
    Así es como un niño aprendía programación diviertiendose. Desde hace 2 años hago
    proyectos, y la verdad es que
    <em class='text-amber-500'>me podría pasar todo el día haciéndolos.</em>
    Con tan solo 1 año de experiencia me contrataron para hacer un proyecto de servicio
    de turnos, aprendí metodologías de trabajo y me ayudó a crecer como programador.
  </p>
  <p>
    Me gusta hacer de todo pero mi eje central es la
    <em class='text-sky-400'>programación web.</em>
    Tengo algunos hobbies como por ejemplo tengo una banda de Rock que se llama De-Morados
    y además me gusta hacer deporte.
  </p>
</section>
