---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Marzo de 2023',
    title: 'Frontend y Backend aplicación SCGG',
    description:
      'Hice la página de la Sociedad Cuyana de Geriatría y Gerontología. En el Frontend utilicé React y en el Backend trabajé con Express.',
    link: 'https://scgg-dfa0b.web.app/'
  },
  {
    date: 'Noviembre de 2023',
    title: 'Backend aplicación ServiceTurn',
    description:
      'Trabajé en un proyecto de turnos para cualquier tipo de negocio. Usamos Express y de base de datos PostgreSQL',
    link: '#'
  }
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
