---
import Social from './Social.astro';
import GitHub from './icons/GitHub.astro';

const { date, title, description, link } = Astro.props;
---

<div
  class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700'
>
</div>
<time class='mb-1 text-sm font-normal leading-none text-yellow-100/60'
  >{date}</time
>
<div class='flex flex-row gap-x-2'>
  <a href={link} class='text-md sm:text-xl font-semibold text-blue-400 mt-2'>
    {title}
  </a>
</div>

<p class='mb-4 text-sm sm:text-lg font-normal text-gray-200 text-pretty'>
  {description}
</p>
