---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Febrero de 2022',
    title: 'Código de IU de una aplicación en Tailwind CSS',
    description:
      'Con acceso a más de 20 páginas, que incluyen un diseño de panel de control, gráficos, tablero Kanban, calendario y páginas de comercio electrónico y marketing para preventas.',
    link: '#'
  },
  {
    date: 'Marzo de 2022',
    title: 'Diseño web receptivo con Bootstrap 5',
    description:
      'Exploré una colección de plantillas de diseño web receptivas construidas con Bootstrap 5, que incluyen páginas de destino, formularios y menús de navegación.',
    link: '#'
  },
  {
    date: 'Abril de 2022',
    title: 'Biblioteca de componentes React',
    description:
      'Descubrí un conjunto de componentes reutilizables de React para construir aplicaciones web modernas. Los componentes incluyen modales, deslizadores y elementos de formulario.',
    link: '#'
  },
  {
    date: 'Mayo de 2022',
    title: 'IU de aplicación móvil en Flutter',
    description:
      'Accedí a una variedad de fragmentos de código de IU de aplicaciones móviles desarrollados con Flutter. Incluye pantallas para inicio de sesión, perfil y widgets interactivos.',
    link: '#'
  }
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
