<header class='flex justify-center items-center py-5 mx-auto'>
  <nav class='flex flex-row gap-x-5 sm:gap-x-10 text-gray-300'>
    <a class='text-sm sm:text-lg' href='#top'>Inicio</a>
    <a class='text-sm sm:text-lg' href='#sobre.mi'>Sobre mí</a>
    <a class='text-sm sm:text-lg' href='#experiencia'>Experiencia</a>
    <a class='text-sm sm:text-lg' href='#proyectos'>Proyectos</a>
    <a class='text-sm sm:text-lg' href='#contacto'>Contacto</a>
  </nav>
</header>
