---
const { href } = Astro.props;
---

<a
  target='_blank'
  rel='noopener noreferrer'
  class='rounded-full w-min text-sm border border-white/10 py-1 px-1 sm:py-2 sm:px-2 bg-white/5 flex flex-row gap-x-2 hover:scale-105 hover:bg-white/10 transition items-center'
  href={href}
>
  <slot />
</a>
