---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body>
    <div
      class='w-full max-w-[100vw] min-h-[100vh] h-[100%] bg-gradient-to-r from-slate-900 via-purple-900/15 to-slate-900'
    >
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
